In [3]:
import pandas as pd
import numpy as np
from kpi.miss_sales_kpi.miss_sales_kpi_metric import MissSalesKPI
from kpi.stock_kpi.stock_kpi_metric import StockKPI
from kpi.tests.kpi.check_kpi_metirc import *

In [4]:
df_sales, prices, quantity = simulate_data()

In [5]:
miss_sales_kpi = MissSalesKPI(sales_col='sales', stock_col='stock', date_col='date', store_col='store', sku_col='sku', price_col='price')
stock_kpi = StockKPI(sales_col='sales', stock_col='stock', date_col='date', store_col='store')

# check miss_sales_kpi

In [6]:
df_stock = df_sales.drop(columns=['sales', 'price'])
print("Results from MissSalesKPI class:")
print("A =", miss_sales_kpi.calc_A(df_sales))
print("B =", miss_sales_kpi.calc_B(df_stock, prices, threshold=14))
print("C =", miss_sales_kpi.calc_C(df_stock, quantity, threshold=14))
print("D =", miss_sales_kpi.calc_D(df_sales, df_stock, prices))
print("E =", miss_sales_kpi.calc_E(df_sales, df_stock, prices))

Results from MissSalesKPI class:
A = 3149301.4499122165
B = 54.63333618278774
C = 70.54118344862881
D = 1.7347763322025137e-05
E = 1.7347763322025137e-05

# check stock_kpi

In [7]:
print("\nResults from StockKPI class:")
print("G =", stock_kpi.calc_G(df_sales))
print("H =", stock_kpi.calc_H(df_sales, prices))
print("I =", stock_kpi.calc_I(df_sales, prices))
print("1/G - 1 =", stock_kpi.calc_1_over_G(df_sales))
print("Comparison of years 2022 and 2023:")
comparison = stock_kpi.compare_years(df_sales, prices)
for year, metrics in comparison.items():
    print(f"{year}:")
    for metric, value in metrics.items():
        print(f"  {metric} = {value}")

Results from StockKPI class:
G = 0.5000508589051909
H = 44.92544934436254
I = 0.5000508589051909
1/G - 1 = 0.9997965850701578
Comparison of years 2022 and 2023:
2022:
  G = 0.5091729984770457
  H = 45.7449984201202
  I = 0.5091729984770458
  J = {1: 0.5148400681840971, 2: 0.5317429132753297, 3: 0.5092333799161509, 4: 0.51168857742084, 5: 0.4809974127932911, 6: 0.4606295491067209, 7: 0.49587328848814466, 8: 0.5767087276550998, 9: 0.4884537474679271, 10: 0.5309847198641766, 11: 0.519447859617749, 12: 0.5069368814811307}
  1/G - 1 = 0.9639690301548494
2023:
  G = 0.4912781300757851
  H = 44.13729194473287
  I = 0.4912781300757851
  J = {1: 0.5365886957313188, 2: 0.48837090163934427, 3: 0.46089842008815807, 4: 0.4905533710559125, 5: 0.48595253367543295, 6: 0.47719123505976097, 7: 0.4951321279554937, 8: 0.5163026760996616, 9: 0.4670513209839052, 10: 0.4444927746363153, 11: 0.5006418485237484, 12: 0.5313917955366237}
  1/G - 1 = 1.0355068519857356

# check kpi miss sales for first_kpi and second_kpi

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_stock = pd.read_csv(r'C:\Users\yotam\Downloads\f_stock_full_outlet_141.csv')
df_delivery = pd.read_csv(r'C:\Users\yotam\Downloads\delivery_stock.csv')

In [4]:
df_stock

    store              sku valid_from_date valid_to_date  stock
0     141  100549651000003      2008-01-01    2015-01-31    0.0
1     141  100549651000003      2015-02-01    2016-01-31    0.0
2     141  100549651000003      2016-02-01    2016-07-31    0.0
3     141  100549651000003      2017-03-08    2017-03-09    2.0
4     141  100549651000003      2017-03-10    2017-03-10    0.0
..    ...              ...             ...           ...    ...
93    141  100549651000003      2022-12-14    2022-12-20    7.0
94    141  100549651000003      2022-12-21    2022-12-23    6.0
95    141  100549651000003      2022-12-24    2022-12-31    5.0
96    141  100549651000003      2023-01-01    2023-01-03    4.0
97    141  100549651000003      2023-01-04    2099-12-31    6.0

[98 rows x 5 columns]

In [5]:
df_delivery

   delivery_date              sku  store  total_delivered_quantity
0     2018-01-23  100549651000003    141                         1
1     2018-03-08  100549651000003    141                         2
2     2018-07-12  100549651000003    141                         2
3     2018-08-07  100549651000003    141                         1
4     2018-09-13  100549651000003    141                         2
5     2018-10-02  100549651000003    141                         2
6     2018-11-29  100549651000003    141                         1
7     2018-12-11  100549651000003    141                         1
8     2018-12-18  100549651000003    141                         1
9     2019-03-19  100549651000003    141                         5
10    2019-04-04  100549651000003    141                         1
11    2019-05-07  100549651000003    141                         2
12    2019-05-16  100549651000003    141                         1
13    2019-06-13  100549651000003    141                         2
14    2019-07-04  100549651000003    141                         2
15    2019-12-12  100549651000003    141                         2
16    2020-02-21  100549651000003    141                         2
17    2020-05-26  100549651000003    141                         2
18    2020-06-02  100549651000003    141                         1
19    2020-08-04  100549651000003    141                         2
20    2020-08-21  100549651000003    141                         2
21    2020-09-25  100549651000003    141                         1
22    2021-02-25  100549651000003    141                         1
23    2021-03-23  100549651000003    141                         3
24    2021-03-30  100549651000003    141                         2
25    2021-04-06  100549651000003    141                         2
26    2021-12-24  100549651000003    141                         1
27    2022-01-03  100549651000003    141                         3
28    2022-01-04  100549651000003    141                         3
29    2022-03-01  100549651000003    141                         2
30    2022-05-12  100549651000003    141                         2
31    2022-05-27  100549651000003    141                         2
32    2022-05-31  100549651000003    141                         1
33    2022-06-07  100549651000003    141                         1
34    2022-10-11  100549651000003    141                         1
35    2022-12-01  100549651000003    141                         1
36    2022-12-09  100549651000003    141                         3
37    2022-12-13  100549651000003    141                         4
38    2023-01-03  100549651000003    141                         2

In [9]:
# Convert the date columns to datetime format
# df_stock['valid_from_date'] = pd.to_datetime(df_stock['valid_from_date'])
# df_stock['valid_to_date'] = pd.to_datetime(df_stock['valid_to_date'])
# df_delivery['delivery_date'] = pd.to_datetime(df_delivery['delivery_date'])

def get_cumulative_stock_including_delivery(stock_data, delivery_data):
    # Initialize an empty dataframe to store the result
    result = pd.DataFrame()

    # Loop over each row in the delivery data
    for index, row in delivery_data.iterrows():
        # Get the SKU, store and total delivered quantity from the delivery data
        sku = row['sku']
        store = row['store']
        delivery_date = row['delivery_date']
        delivered_quantity = row['total_delivered_quantity']

        # Find the rows in the stock data that match the SKU and store, and where the valid_to_date is less than or equal to the delivery_date
        matching_rows = stock_data[(stock_data['sku'] == sku) & (stock_data['store'] == store) & (stock_data['valid_to_date'] <= delivery_date)]

        # Get the last row before the delivery date
        last_row_before_delivery = matching_rows.sort_values(by='valid_to_date').tail(1)

        # If there is a last row before delivery, add the delivered quantity to the stock
        if not last_row_before_delivery.empty:
            last_row_before_delivery['stock'] += delivered_quantity

        # Append the last row before delivery to the result dataframe
        result = result.append(last_row_before_delivery, ignore_index=True)

    return result

# Get the last stock data before the delivery including the delivered quantity
# cumulative_stock_including_delivery = get_cumulative_stock_including_delivery(df_stock, df_delivery)

In [10]:
def get_cumulative_sales_window(df_sales:pd.DataFrame, start_date:str, end_date:str) -> pd.DataFrame:
    """
    This function calculates the cumulative sales for each sku and store in the given date range.
    Args:
        df_sales:
        start_date:
        end_date:

    Returns:

    """
    df_sales_filter = df_sales[(df_sales['date'] >= start_date) & (df_sales['date'] <= end_date)]
    df_sales_filter = df_sales_filter.groupby(['sku', 'store']).agg({'sales': 'sum'}).to_dict("index")
    return df_sales_filter

In [ ]:
cumulative_stock = get_cumulative_stock_including_delivery('2021-01-01', '2021-01-31', df_stock, df_delivery)

In [ ]:
stock_kpi.calc_G(df_sales)

In [13]:
df_delivery

   delivery_date              sku  store  total_delivered_quantity
0     2018-01-23  100549651000003    141                         1
1     2018-03-08  100549651000003    141                         2
2     2018-07-12  100549651000003    141                         2
3     2018-08-07  100549651000003    141                         1
4     2018-09-13  100549651000003    141                         2
5     2018-10-02  100549651000003    141                         2
6     2018-11-29  100549651000003    141                         1
7     2018-12-11  100549651000003    141                         1
8     2018-12-18  100549651000003    141                         1
9     2019-03-19  100549651000003    141                         5
10    2019-04-04  100549651000003    141                         1
11    2019-05-07  100549651000003    141                         2
12    2019-05-16  100549651000003    141                         1
13    2019-06-13  100549651000003    141                         2
14    2019-07-04  100549651000003    141                         2
15    2019-12-12  100549651000003    141                         2
16    2020-02-21  100549651000003    141                         2
17    2020-05-26  100549651000003    141                         2
18    2020-06-02  100549651000003    141                         1
19    2020-08-04  100549651000003    141                         2
20    2020-08-21  100549651000003    141                         2
21    2020-09-25  100549651000003    141                         1
22    2021-02-25  100549651000003    141                         1
23    2021-03-23  100549651000003    141                         3
24    2021-03-30  100549651000003    141                         2
25    2021-04-06  100549651000003    141                         2
26    2021-12-24  100549651000003    141                         1
27    2022-01-03  100549651000003    141                         3
28    2022-01-04  100549651000003    141                         3
29    2022-03-01  100549651000003    141                         2
30    2022-05-12  100549651000003    141                         2
31    2022-05-27  100549651000003    141                         2
32    2022-05-31  100549651000003    141                         1
33    2022-06-07  100549651000003    141                         1
34    2022-10-11  100549651000003    141                         1
35    2022-12-01  100549651000003    141                         1
36    2022-12-09  100549651000003    141                         3
37    2022-12-13  100549651000003    141                         4
38    2023-01-03  100549651000003    141                         2

In [12]:
df_stock

    store              sku valid_from_date valid_to_date  stock
0     141  100549651000003      2008-01-01    2015-01-31    0.0
1     141  100549651000003      2015-02-01    2016-01-31    0.0
2     141  100549651000003      2016-02-01    2016-07-31    0.0
3     141  100549651000003      2017-03-08    2017-03-09    2.0
4     141  100549651000003      2017-03-10    2017-03-10    0.0
..    ...              ...             ...           ...    ...
93    141  100549651000003      2022-12-14    2022-12-20    7.0
94    141  100549651000003      2022-12-21    2022-12-23    6.0
95    141  100549651000003      2022-12-24    2022-12-31    5.0
96    141  100549651000003      2023-01-01    2023-01-03    4.0
97    141  100549651000003      2023-01-04    2099-12-31    6.0

[98 rows x 5 columns]

In [22]:
def get_cumulative_stock_including_delivery(start_date:str, end_date:str, df_stock:pd.DataFrame ,df_delivery:pd.DataFrame) -> dict:
    """
    This function calculates the cumulative stock including the delivery for each sku and store in the given date range.
    and returns a dictionary with the sku, store as keys and the cumulative stock as values.
    Args:
        start_date:
        end_date:
        df_stock:
        df_delivery:

    Returns:

    """
    x_o = df_stock[(df_stock['valid_from_date'] <= start_date) & (df_stock['valid_to_date'] >= start_date)]
    df_delivery_filter = df_delivery[(df_delivery['delivery_date'] >= start_date) & (df_delivery['delivery_date'] <= end_date)]
    df_delivery_filter = df_delivery_filter.groupby(['sku', 'store']).agg({'total_delivered_quantity': 'sum'}).to_dict("index")
    dict_x0_sku_stock_store = { (sku, store): stock for sku, store, stock in zip(x_o['sku'], x_o['store'], x_o['stock'])}
    final_dict = {}
    for (sku, store), stock in dict_x0_sku_stock_store.items():
        if (sku, store) in df_delivery_filter:
            final_dict[(sku, store)] = stock + df_delivery_filter[(sku, store)]['total_delivered_quantity']
        else:
            final_dict[(sku, store)] = stock
    return final_dict

In [42]:
df_final = get_cumulative_stock_including_delivery('2018-01-01', '2023-01-01', df_stock, df_delivery)

In [43]:
df_final

{(100549651000003, 141): 70.0}