In [1]:
from defillama2 import DefiLlama
import pandas as pd

pd.set_option('display.max_columns', 15)
pd.set_option('display.max_rows', 50)
pd.options.display.float_format = '{:,.4f}'.format

## Create a DefiLlama instance

In [2]:
obj = DefiLlama()

## Get all stablecoins along with their circulating amounts

In [3]:
obj.get_stablecoins_circulating()

,name,symbol,gecko_id,pegType,priceSource,pegMechanism,circulating,circulatingPrevDay,circulatingPrevWeek,circulatingPrevMonth,delisted
id,,,,,,,,,,,
1,Tether,USDT,tether,peggedUSD,chainlink,fiat-backed,"66,247,817,799.1612","66,240,295,405.0680","66,237,845,405.0763","65,352,829,102.7940",NaN
2,USD Coin,USDC,usd-coin,peggedUSD,chainlink,fiat-backed,"44,025,354,434.8006","43,750,700,426.7066","43,812,952,434.3878","43,326,356,104.0751",NaN
3,TerraClassicUSD,USTC,terrausd,peggedUSD,chainlink,algorithmic,"9,804,476,083.2330","9,804,473,371.7661","9,804,987,647.1193","9,806,349,150.9481",NaN
4,Binance USD,BUSD,binance-usd,peggedUSD,chainlink,fiat-backed,"17,040,976,660.9900","17,199,954,761.2700","18,031,715,419.5600","22,383,281,483.8000",NaN
5,Dai,DAI,dai,peggedUSD,chainlink,crypto-backed,"5,078,344,516.6003","5,118,062,999.3735","5,173,951,384.5302","5,185,386,287.2362",NaN
...,...,...,...,...,...,...,...,...,...,...,...
87,USDi,USDI,bank-of-chain,peggedUSD,None,crypto-backed,"9,129.9648","312,682.1360","313,532.1360","314,242.9467",NaN
88,iUSD,IUSD,iusd,peggedUSD,None,crypto-backed,"2,723,692.1537","2,715,680.3446","2,651,598.1707","1,756,157.5709",NaN
89,XAI,XAI,xai,peggedUSD,uniswap,crypto-backed,"3,380,634.6845","3,380,634.6845","3,317,839.3266","1,486,627.4170",NaN
90,Redeemable USD,RUSD,redeemable,peggedUSD,None,fiat-backed,"38,670.4780","38,670.4780","38,670.4780","40,772.4780",NaN
91,Iron Bank EURO,IBEUR,iron-bank-euro,peggedEUR,coingecko,crypto-backed,"44,768,825.8894","44,768,825.8894","44,768,825.8894",0.0000,NaN

In [4]:
dd = obj.get_stablecoins_circulating_by_chain()

In [5]:
dd['USDT']

,type,current,circulatingPrevDay,circulatingPrevWeek,circulatingPrevMonth
chain,,,,,
Optimism,peggedUSD,"127,065,266.8205","127,042,876.0433","120,056,896.5781","99,509,597.8409"
Statemine,peggedUSD,"3,490,005.0000","3,490,005.0000","3,490,005.0000","3,490,005.0000"
Harmony,peggedUSD,0.0000,0.0000,0.0000,0.0000
BSC,peggedUSD,"3,179,744,100.3967","3,179,739,805.1821","3,179,752,145.4860","4,479,765,842.2971"
Dogechain,peggedUSD,"360,271.6605","360,271.6605","360,271.6605","494,886.0037"
...,...,...,...,...,...
Theta,peggedUSD,132.4231,132.4231,132.4231,132.4231
NEO,peggedUSD,"5,856,926.0000","5,856,926.0000","6,855,446.0000","6,855,446.0000"
Syscoin,peggedUSD,"84,863.3280","84,863.3280","84,863.3280","84,782.6868"
Solana,peggedUSD,"798,201,433.2764","798,183,856.7949","800,174,038.7217","800,300,773.8662"
Everscale,peggedUSD,"880,002.1300","951,238.0220","1,035,191.7874","1,571,268.8103"

In [6]:
dd['USDC']

,type,current,circulatingPrevDay,circulatingPrevWeek,circulatingPrevMonth
chain,,,,,
Optimism,peggedUSD,"269,753,727.9282","271,357,512.5059","275,716,914.4591","291,052,379.3769"
DFK,peggedUSD,"2,806,731.7566","2,841,867.8544","2,873,372.8043","3,584,697.7289"
Kadena,peggedUSD,0.0000,0.0000,0.0000,0.0000
BSC,peggedUSD,"881,978,432.0586","881,978,906.8691","882,000,129.7985","881,990,518.6057"
Flow,peggedUSD,"12,917,662.0000","11,950,502.0000","12,289,237.0000","13,055,308.0000"
...,...,...,...,...,...
Syscoin,peggedUSD,"479,602.0793","486,126.2893","486,126.2893","503,299.3693"
Solana,peggedUSD,"1,011,927,729.6296","998,063,857.8678","1,001,525,143.3265","1,172,337,133.6302"
Ronin,peggedUSD,"32,945,939.6023","32,945,939.6023","32,945,939.6023","32,945,939.6023"
Elrond,peggedUSD,"36,839,351.5246","37,135,898.5246","38,758,915.7803","38,972,551.4862"
Everscale,peggedUSD,"1,608.7478","1,608.7478","1,587.7478","18,991.7916"

In [7]:
dd['EURL']

,type,current,circulatingPrevDay,circulatingPrevWeek,circulatingPrevMonth
chain,,,,,
Ethereum,peggedEUR,5010,5010,5010,5010
Tezos,peggedEUR,4250000,4250000,4450000,5255000

## Get all available historical mcaps of a stablecoin

In [8]:
# get stablecoin ids
df = obj.get_stablecoins_circulating()
ss = df.loc[:, 'name']
ss

id
1              Tether
2            USD Coin
3     TerraClassicUSD
4         Binance USD
5                 Dai
           ...
87               USDi
88               iUSD
89                XAI
90     Redeemable USD
91     Iron Bank EURO
Name: name, Length: 91, dtype: object

In [9]:
obj.get_stablecoin_hist_mcap(1) # USDT

,totalCirculating,totalUnreleased,totalCirculatingUSD,totalMintedUSD,totalBridgedToUSD
date,,,,,
2020-12-31 00:00:00+00:00,"20,920,738,588.9900",0.0000,"20,953,468,827.6900",0,0
2021-01-01 00:00:00+00:00,"20,934,027,063.0400",0.0000,"20,935,116,985.4900",0,0
2021-01-02 00:00:00+00:00,"21,123,644,615.3900",0.0000,"21,165,735,737.9300",0,0
2021-01-03 00:00:00+00:00,"21,202,977,966.9700",0.0000,"21,269,142,057.2400",0,0
2021-01-04 00:00:00+00:00,"21,350,523,809.2800",0.0000,"21,365,921,518.0800",0,0
...,...,...,...,...,...
2022-12-25 00:00:00+00:00,"66,237,795,405.0700","7,015,982,829.8900","66,237,795,405.0700",0,0
2022-12-26 00:00:00+00:00,"66,237,795,405.0700","7,015,982,829.8900","66,237,795,405.0700",0,0
2022-12-27 00:00:00+00:00,"66,240,295,405.0700","7,013,482,829.8900","66,240,744,514.2700",0,0
2022-12-28 00:00:00+00:00,"66,240,295,405.0700","7,013,482,829.8900","66,220,423,316.4500",0,0
2022-12-29 00:00:00+00:00,"66,247,817,799.1600","7,005,960,435.8000","66,221,318,672.0400",0,0

In [10]:
obj.get_stablecoin_hist_mcap(2) # USDC

,totalCirculating,totalUnreleased,totalCirculatingUSD,totalMintedUSD,totalBridgedToUSD
date,,,,,
2020-12-31 00:00:00+00:00,"3,705,248,341.6800",0.0000,"3,707,668,173.7100",0,0
2021-01-01 00:00:00+00:00,"3,925,840,105.2100",0.0000,"3,931,691,995.7100",0,0
2021-01-02 00:00:00+00:00,"4,123,724,902.2300",0.0000,"4,121,592,025.5800",0,0
2021-01-03 00:00:00+00:00,"4,128,120,369.1500",0.0000,"4,138,858,681.0700",0,0
2021-01-04 00:00:00+00:00,"4,227,905,606.0200",0.0000,"4,213,378,134.3500",0,0
...,...,...,...,...,...
2022-12-25 00:00:00+00:00,"43,824,498,694.7400","4,436,080,302.2300","43,827,409,517.9500",0,0
2022-12-26 00:00:00+00:00,"43,932,373,714.1500","4,458,224,616.0000","43,949,199,813.2900",0,0
2022-12-27 00:00:00+00:00,"44,029,716,308.8600","4,480,670,487.8700","44,034,361,884.2300",0,0
2022-12-28 00:00:00+00:00,"43,733,866,515.4700","4,504,184,362.7900","43,734,867,583.6800",0,0
2022-12-29 00:00:00+00:00,"44,025,354,434.8000","4,461,029,188.7300","44,022,687,819.0800",0,0

In [11]:
frax_id = ss.index[ss == 'Frax'].values[0]
print('Frax id:', frax_id)
obj.get_stablecoin_hist_mcap(frax_id) # Frax

Frax id: 6

,totalCirculating,totalUnreleased,totalCirculatingUSD,totalMintedUSD,totalBridgedToUSD
date,,,,,
2020-12-31 00:00:00+00:00,"56,528,801.3100",0,"56,913,397.5200",0,0
2021-01-01 00:00:00+00:00,"57,389,050.4700",0,"57,182,625.2800",0,0
2021-01-02 00:00:00+00:00,"71,772,627.9200",0,"72,715,225.4600",0,0
2021-01-03 00:00:00+00:00,"78,289,715.7600",0,"79,285,756.9200",0,0
2021-01-04 00:00:00+00:00,"78,876,977.8700",0,"79,385,984.5500",0,0
...,...,...,...,...,...
2022-12-25 00:00:00+00:00,"1,018,393,133.2600",0,"1,017,741,035.7700",0,0
2022-12-26 00:00:00+00:00,"1,018,393,133.2600",0,"1,017,468,432.2900",0,0
2022-12-27 00:00:00+00:00,"1,018,393,133.2600",0,"1,017,775,518.5600",0,0
2022-12-28 00:00:00+00:00,"1,018,393,133.2600",0,"1,017,365,421.8300",0,0
2022-12-29 00:00:00+00:00,"1,018,393,133.2600",0,"1,018,042,164.4300",0,0

## Get all available historical mcaps of a stablecoin on a particular chain

In [12]:
obj.get_stablecoin_hist_mcap_on_a_chain(1, 'ethereum') # USDT on ethereum

,totalCirculating,totalUnreleased,totalCirculatingUSD,totalMintedUSD,totalBridgedToUSD
date,,,,,
2020-12-31 00:00:00+00:00,"12,962,834,369.9600","35,442,117.5700","12,983,114,565.2000","13,227,232,922.6700",0.0000
2021-01-01 00:00:00+00:00,"13,127,933,832.9700","159,742,117.5700","13,128,617,334.0400","13,382,968,146.8900",0.0000
2021-01-02 00:00:00+00:00,"13,118,372,135.7200","164,742,117.5800","13,144,511,896.1200","13,403,927,048.7200",0.0000
2021-01-03 00:00:00+00:00,"13,126,053,611.9300","146,742,117.5800","13,167,013,584.5100","13,437,071,473.0300",0.0000
2021-01-04 00:00:00+00:00,"13,266,134,880.8600","35,742,117.5800","13,275,702,237.7900","13,516,011,943.9500",0.0000
...,...,...,...,...,...
2022-12-25 00:00:00+00:00,"27,995,409,611.5600","1,562,016,547.9600","27,995,409,611.5600","30,735,349,974.0300","68,675.4400"
2022-12-26 00:00:00+00:00,"27,992,275,925.0300","1,562,016,547.9600","27,992,275,925.0300","30,735,349,974.0300","68,675.4400"
2022-12-27 00:00:00+00:00,"27,992,732,989.5600","1,560,216,547.9600","27,992,922,780.2900","30,737,358,371.9100","68,675.9000"
2022-12-28 00:00:00+00:00,"27,992,336,462.4700","1,560,216,547.9600","27,983,938,761.5400","30,727,928,829.0400","68,654.8300"
2022-12-29 00:00:00+00:00,"27,983,055,209.4300","1,572,694,153.8600","27,971,861,987.3500","30,712,382,499.1900","68,647.9700"

In [13]:
obj.get_stablecoin_hist_mcap_on_a_chain(2, 'arbitrum') # USDC on arbitrum

,totalCirculating,totalUnreleased,totalCirculatingUSD,totalMintedUSD,totalBridgedToUSD
date,,,,,
2020-12-31 00:00:00+00:00,0.0000,0,0.0000,0,0.0000
2021-01-01 00:00:00+00:00,0.0000,0,0.0000,0,0.0000
2021-01-02 00:00:00+00:00,0.0000,0,0.0000,0,0.0000
2021-01-03 00:00:00+00:00,0.0000,0,0.0000,0,0.0000
2021-01-04 00:00:00+00:00,0.0000,0,0.0000,0,0.0000
...,...,...,...,...,...
2022-12-25 00:00:00+00:00,"638,051,391.4400",0,"638,093,770.8200",0,"638,093,770.8200"
2022-12-26 00:00:00+00:00,"638,119,738.7700",0,"638,364,138.6300",0,"638,364,138.6300"
2022-12-27 00:00:00+00:00,"640,200,062.0700",0,"640,267,609.5800",0,"640,267,609.5800"
2022-12-28 00:00:00+00:00,"640,256,481.1400",0,"640,271,136.6200",0,"640,271,136.6200"
2022-12-29 00:00:00+00:00,"630,515,114.5500",0,"630,476,924.2500",0,"630,476,924.2500"

## Get current total mcap of all stablecoins on each chain.

In [14]:
obj.get_stablecoins_curr_mcap_by_chain()

                  type  totalCirculatingUSD
chain
Optimism     peggedEUR         869,407.6775
Optimism     peggedUSD     532,093,990.6032
Optimism     peggedVAR          46,527.9036
DFK          peggedUSD       2,806,576.6581
Kadena       peggedUSD             384.1072
...                ...                  ...
Mixin        peggedUSD               0.0000
Kujira       peggedUSD         685,447.5360
EthereumPoW  peggedUSD           1,339.4384
Cardano      peggedUSD       2,762,362.6317
smartBCH     peggedUSD      25,530,583.7234

[106 rows x 2 columns]

## Get historical prices of all stablecoins

In [15]:
obj.get_stablecoins_prices()

                                stablecoin  prices
date
2020-12-30 00:00:00+00:00      binance-usd  1.0035
2020-12-30 00:00:00+00:00      celo-dollar  1.0035
2020-12-30 00:00:00+00:00              dai  1.0043
2020-12-30 00:00:00+00:00             frax  1.0275
2020-12-30 00:00:00+00:00    gemini-dollar  1.0078
...                                    ...     ...
2022-12-29 00:00:00+00:00              xai  1.0009
2022-12-29 00:00:00+00:00      youves-uusd  1.0020
2022-12-29 00:00:00+00:00  yusd-stablecoin  0.9995
2022-12-29 00:00:00+00:00  zunami-protocol  0.9889
2022-12-29 00:00:00+00:00             zusd     NaN

[31622 rows x 2 columns]